<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Calculator", calculator_path %></li>
      <li>Two Octobers, LLC, Denver, Colorado</li>

    </ul>
  </nav>
</footer>